.root {
  margin: 8px 8px 8px 4px;
} 

.input {
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s;
}

.inputHasErro {
  border-color: #ff4d4f;
  outline-color: #ff4d4f;
}

.labelHasErro {
  color: #ff4d4f;
  font-size: 14px;
  -webkit-transition: color .3s cubic-bezier(.215,.61,.355,1);
  transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  padding-top: 0px;
}
